# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/*.xml
.idea/inspectionProfiles/*.*

.idea/
gradle/
gradlew
gradlew.bat
src/test/resources/
